.sectionFaq {
  padding-bottom: 64px;
  max-width: 1440px;
  margin: 0 auto;
}
.adWrap {
  background-color: transparent;
}
.adWrap.lazyLoaded {
  background-image: url('/img/background/Faq/faq_x1.jpg');
}
@media screen and (min-width: 1440px) {
  .adWrap.lazyLoaded {
    background-image: url('/img/background/Faq/faq_x1.jpg');
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .adWrap.lazyLoaded {
      background-image: url('/img/background/Faq/faq_x2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.faqWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.faqQuestionList,
.faqImage {
  width: 644px;
}
.faqQuestionList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: auto;
}
.faqImage {
  position: absolute;
  top: 0;
  right: -96px;
}
.faqQuestionItemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-bottom: 24px;
}
.faqTitle {
  font-size: 28px;
  text-align: right;
  color: var(--accent-button);
}
.fadingLine {
  width: 542px;
  height: 2px;
  background: linear-gradient(
    to right,
    /* rgba(255, 255, 255, 0) 0%, */ rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.faqQuestionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: var(--background-tech);
  border-radius: 8px;
  border: 1px solid var(--accent-button-rgb);
  width: 100%;
  cursor: pointer;
}
.faqQuestionItemBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.faqQuestionItem:hover {
  border: 1px solid var(--accent-button);
}
.faqQuestionItem:hover .faqAnswerText {
  color: var(--accent-button);
}
.faqQuestionItem:hover .faqIcon {
  fill: var(--accent-button);
}
.faqIcon {
  width: 14px;
  height: 9px;
  fill: var(--arrow-color);
  margin: 0 10px;
}
.faqIconReverse {
  transform: rotate(180deg);
}
.faqAnswerText {
  font-size: 18px;
  color: var(--color-p);
}
.faqAnswerText:last-child {
  padding-top: 56px;
}
