.sectionSteps {
  padding-bottom: 64px;
  max-width: 1440px;
  margin: 0 auto;
}

.adWrap {
  background-color: transparent;
}
.adWrap.lazyLoaded {
  background-image: url('/img/background/Steps/steps_x1.jpg');
}
@media screen and (min-width: 1440px) {
  .adWrap.lazyLoaded {
    background-image: url('/img/background/Steps/steps_x1.jpg');
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .adWrap.lazyLoaded {
      background-image: url('/img/background/Steps/steps_x2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 1248px;
  margin: 0 auto;
}
.stepsHead {
  display: flex;
  align-items: center;
  gap: 40px;
  align-self: flex-start;
}
.stepsHeadTitle {
  font-size: 28px;
  text-align: left;
  color: var(--accent-button);
}
.fadingLine {
  width: 526px;
  height: 2px;
  background: linear-gradient(
    to right,
    /* rgba(255, 255, 255, 0) 0%, */ rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.stepsAccordion {
  width: 100%;
}
