.sectionFooter {
  max-width: 1440px;
  margin: 0 auto;
}
.adWrap {
  background-color: transparent;
}
.adWrap.lazyLoaded {
  background-image: url('/img/Contacts/contacts_x1.jpg');
}
@media screen and (min-width: 1440px) {
  .adWrap.lazyLoaded {
    background-image: url('/img/background/Contacts/contacts_x1.jpg');
  }
  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .adWrap.lazyLoaded {
      background-image: url('/img/background/Contacts/contacts_x2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.footerTitleBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-bottom: 56px;
}
.footerTitle {
  font-size: 28px;
  text-align: right;
  color: var(--accent-button);
  white-space: nowrap;
}
.fadingLine {
  width: 885px;
  height: 2px;
  background: linear-gradient(
    to right,
    /* rgba(255, 255, 255, 0) 0%, */ rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.footerTop {
  margin-bottom: 80px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.footerDescrItem {
  width: 647px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footerText {
  font-size: 18px;
  line-height: 170%;
  color: var(--color-p);
}
.footerContact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.footerFormItem {
  border: 1px solid var(--border-form);
  border-radius: 14px;
  padding: 50px;
  width: 561px;
  height: auto;
  box-shadow: 10px 10px 50px 0 rgba(0, 98, 255, 0.03);
  background: inherit;
}
.footerContactItem {
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.footerContactItem:hover {
  transform: scale(1.04);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.footerContactItem:hover .footerText {
  color: var(--accent-button);
}
.footerSocialList {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.footerSocialItem {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.footerSocialItem:hover .footerSocIcon {
  transform: scale(1.04);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  fill: var(--accent-button);
}
.footerSocIcon {
  width: 34px;
  height: 34px;
  fill: var(--color-p);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.nameLabel {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-label);
}
.input {
  width: 100%;
  height: 64px;
  border-radius: 8px;
  padding: 20px;
  background: var(--background-form);
}
.textArea {
  height: 114px;
}
.formBtn {
  border-radius: 100px;
  padding: 14px 20px;
  width: 100%;
  max-width: 461px;
  height: 55px;
  background: var(--accent-button);

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0f0f0f;
  margin-top: 14px;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.formBtn:hover {
  opacity: 0.8;
  transform: scale(1.04);
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.error {
  color: red;
}

.footerBootom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footerBootomText {
  font-size: 18px;
  color: var(--color-f);
}
