.footer__container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-footer);
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 32px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__left_list,
.footer__center_list {
  text-align: left;
}
.footer__left_list,
.footer__center_list,
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__left_list,
.footer__center_list,
.footer__contact_link {
  font-size: 14px;
  line-height: 171%;
}
.footer__contact {
  font-size: 16px;
}

.footer__contact_item {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.footer__soc_icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer__icon_link_soc {
  width: 33px;
  height: 33px;
  display: inline-flex;
}

.footer__icon_link {
  width: 24px;
  height: 24px;
  fill: var(--white);
  flex-shrink: 0;
}

.footer__contact_link_text {
  text-align: left;
  font-size: 16px;
  color: var(--white);
}

.footer__contact_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-footer);
    padding-top: 58px;
    padding-bottom: 58px;
    gap: 0px;
  }
  .footer__left_list,
  .footer__center_list {
    font-size: 18px;
    line-height: 100%;
  }

  .footer__icon_link {
    width: 20px;
    height: 20px;
    fill: var(--white);
    display: inline-flex;
  }
  .footer__contact_link,
  .footer__contact_link_text {
    font-size: 16px;
  }
  .footer__address {
    width: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__left_list,
  .footer__center_list {
    font-size: 24px;
    line-height: 100%;
  }
  .footer__contact_link,
  .footer__contact_link_text {
    font-size: 24px;
  }
}
