.sliderContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.swiper {
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: auto;
}

.reviewCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navButton {
  display: none;
}

.navButton_icon {
  fill: var(--amiora-color-1);
  min-width: 27px;
  height: 27px;
}
.right {
  rotate: 180deg;
}

.navButton {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  border: 2px solid var(--white);
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
}

.navButton:hover .navButton_icon {
  background: var(--background-button);
  fill: var(--white);
  border-radius: 50%;
}

.prevButton {
  left: -80px;
}

.nextButton {
  right: -80px;
}
